@include media-md{
    .menu-btn{
        visibility:hidden;
    }
    .nav{
        visibility: visible;
        .menu-nav{
            display: block;//This is so that the entire menu-nav should not come
            transform: translateY(0);
            height:100%;
            background: transparent;
            text-align: right;
            &_item{
                display: inline;
                padding-right: 1.5rem;
            }
            &_link{
                font-size:1.5rem;
            }
        }
    }
    .about_bio{
        font-size: 1.5rem;
    }
    .scores{
        &_bio-image{
            height: 40vh;
        }
        &_items{
            grid-template-columns: repeat(2,1fr);//To get the pics side by side
        }
        .text-secondary{
            font-size: 3rem;
        }
    }
    .contact_list{
        grid-template-columns: repeat(2,1fr);
    }
}
@include media-lg{
    .scores{
        &_items{
            grid-template-columns: repeat(3,1fr);
        }
        .text-secondary{
            font-size: 3rem;
        }
    }
    .contact_list{
        grid-template-columns: repeat(3,1fr);
    }
}
@include media-xl{
    .about_bio-image{
        height: 60vh;
    }
    .gfs{
        grid-template-columns: repeat(2,1fr);
    }
    .scores{
        &_bio-image{
            height: 60vh;
        }
        &_items{
            grid-template-columns: repeat(3,1fr);//To get the pics side by side
        }
        .text-secondary{
            font-size: 3rem;
        }
    }
}